<div class="friends-marquee">
  <%= image_tag('pof_friends_link.png', height: 150) %>
</div>

<div class="friends">
  <% if @friends != [] %>
    <h2>All Friends</h2>
    <% @friends.each_slice(4) do |friend_slice| %>
      <div class="friendslist">
        <% friend_slice.each do |friend| %>
          <div class="friend-info">
            <h3><%= "#{friend.first_name} #{friend.last_name}" %></h3>
            <h4><%= friend.email %></h4>
            <%= image_tag friend.image, height: 80 %>
          </div>
        <% end %>
      </div>
      <br><br>
    <% end %>
  <% else %>
    <h4>You currently have no friends :(</h4>
  <% end %>
</div>

<div class="friends">
  <h2>Add a Friend</h2>
  <h4>
    Enter a registered user's email below to add them as your friend.
  </h4>
  <div class="friends-creation">
    <%= form_with(url: friends_path, method: :post) do |f| %>
      <h3><%= f.label('Email') %>
      <%= f.text_field :email %></h3>

      <%= submit_tag("Add Friend") %>
    <% end %>
  </div>
</div>
