<div class="pof-marquee">
  <%= image_tag('pof_marquee.png', height: 250) %>
</div>

<div class="app-description">
  <h3 id='description-opener'>We all know the struggle.</h3>
  <div class="app-problem">
    <h4>
      You sit down to watch a movie with a group of friends or significant other, and spend more time picking out a suitable flick than actually watching the movie.
    </h4>
  </div>
  <div class="enter-pof">
    <div class="enter-pof-logo">
      <%= image_tag 'plenty_of_flicks_logo', width: 150 %>
    </div>
    <h1 id='enter-pof-text'>Enter<br>Plenty of Flicks</h1>
    <div class="enter-pof-logo">
      <%= image_tag 'plenty_of_flicks_logo', width: 150 %>
    </div>
  </div>
</div>
<div class="app-description">
  <div class="app-instructions">
    <h3 id='instruction-opener'>How it Works:</h3>
    <h4>
      <div id="instruction-step">
        Step #1:
      </div>
      <% if current_user %>
        Log in with google.
      <% else %>
        <%= link_to 'Log in with google', google_login_path %>.
      <% end %>
    </h4>
    <h4>
      <div id="instruction-step">
        Step #2:
      </div>
      Click <%= link_to 'Movies', discover_index_path %> to cycle through available movies.<br><br>
      <div id="instruction-step">
        Step #3:
      </div>
      As you're cycling through movies, click one of the icons below to either add movies to your watchlist or remove them from your discover pool.
      <div class="no-yes-icons">
        <div class="yes-icon-info">
          <%= image_tag('yes_icon.png', width: 70) %>
        </div>
        <div class="no-or-yes">
          or
        </div>
        <div class="no-icon-info">
          <%= image_tag('no_icon.png', width: 70) %>
        </div>
      </div>
    </h4>
    <h4>
      <div id="instruction-step">
        Step #4:
      </div>
      Invite your friends to join the app, and click <%= link_to 'Friends', friends_path %> to add them to your friendslist.
    </h4>
    <h4>
      <div id="instruction-step">
        Step #5:
      </div>
      When it's time to watch a movie, click <%= link_to 'Groups', groups_path %> to make a group with the friends you'll be watching with. We'll give you a list of flicks that you ALL want to watch, and information about where you can watch them.
    </h4>
  </div>
</div>
