<div class="discover-marquee">
  <%= image_tag('pof_discover_link.png', height: 150) %>
</div>

<div class="movie-info">
  <div class="movie-title">
    <h1><%= @movie.title %> (<%= @movie.year %>)</h1>
  </div>

  <div class="movie-genre">
    <% if @movie.genres %>
      <h3>
        Genres:
        <% @movie.genres.each do |genre| %>
          <%= genre %><%= ', ' unless genre == @movie.genres.last %>
        <% end %>
      </h3>
    <% end %>
  </div>

  <div class="movie-rating">
    <h4>
      Rating:
      <% if @movie.vote_average %>
        <%= @movie.vote_average %>/10
      <% else %>
        --/10
      <% end %><br>
      <% if @movie.vote_count %>
        <%= @movie.vote_count %>
      <% else %>
        0
      <% end %>
      Total Votes</h4>
  </div>

  <div class="movie-description">
    <h4>Description: <%= @movie.description %></h4>
  </div>
</div>

<div class="swipe-links">
  <div class="swipe-left-link">
    <%= link_to image_tag('no_icon.png', size:200, class: 'swipe-link'), swipe_path(@filter.merge(movie_id: @movie.id, rating: 0)) %>
  </div>

  <div class="swipe-right-link">
    <%= link_to image_tag('yes_icon.png', size:200, class: 'swipe-link'), swipe_path(@filter.merge(movie_id: @movie.id, rating: 1)) %>
  </div>
</div>
