<section class="movie-title">
  <h1><%= @movie.title %>(<%= @movie.year %>)</h1>
</section>

<section class="movie-genre">
  <% if @movie.genres %>
    <h3>
      Genres:
      <% @movie.genres.each do |genre| %>
        <%= genre %><%= ', ' unless genre == @movie.genres.last %>
      <% end %>
    </h3>
  <% end %>
</section>

<section class="movie-rating">
  <h3>
    Rating:
    <% if @movie.vote_average %>
      <%= @movie.vote_average %>
    <% else %>
      --
    <% end %>
    /10
    <% if @movie.vote_count %>
      <%= @movie.vote_count %>
    <% else %>
      0
    <% end %>
    Total Votes</h3>
</section>

<section class="movie-description">
  <h4>Description: <%= @movie.description %></h4>
</section>

<section class="swipe-left-link">
  <%= link_to image_tag('no_icon.png', size:100, class: 'swipe-link'), swipes_path(@filter.merge(movie_id: @movie.id, rating: 0)), method: :post %>
</section>

<section class="swipe-right-link">
  <%= link_to image_tag('yes_icon.png', size:100, class: 'swipe-link'), root_path %>
</section>
