<div class="profile-marquee">
  <%= image_tag('profile_link.png', height: 150) %>
</div>

<div class="profile-edit-form">
  <%= form_with(url: profile_update_path, method: :patch) do |f| %>
    <h3><%= f.label('First Name') %>
    <%= f.text_field :first_name %></h3>
    <h3><%= f.label('Last Name') %>
    <%= f.text_field :last_name %></h3>
    <h3><%= f.label('Email') %>
    <%= f.text_field :email %></h3>
    <h3><%= f.label('User Image') %>
    <%= f.text_field :image %></h3><br>

    <%= submit_tag("Update Profile") %>
  <% end %>
</div>
