<div class="profile-marquee">
  <%= image_tag('pof_profile_link.png', height: 150) %>
</div>

<div class="profile-edit-form">
  <h1>Edit Profile</h1>
  <%= form_with(url: profile_update_path, method: :patch) do |f| %>
    <h4><%= f.label('First Name:') %>
    <%= f.text_field :first_name %></h4>
    <h4><%= f.label('Last Name:') %>
    <%= f.text_field :last_name %></h4>
    <h4><%= f.label('Email:') %>
    <%= f.text_field :email %></h4>
    <h4><%= f.label('User Image:') %>
    <%= f.text_field :image %></h4><br>

    <%= submit_tag("Update Profile") %>
  <% end %>
</div>
