<!DOCTYPE html>
<html>
  <head>
    <title>PlentyOfFlicksFe</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class = "topnav">
      <div class="home-link">
        <%= link_to image_tag('home_link.png', width:100), root_path %>
      </div>
      <% if current_user %>
        <div class="profile-link">
          <%= link_to image_tag('profile_link.png', width:100), profile_path %>
        </div>
        <div class="discover-link">
          <%= link_to image_tag('discover_link.png', width:100), discover_index_path %>
        </div>
        <div class="log-out">
          <%= link_to image_tag('log_out_link.png', width:100), google_logout_path %>
        </div>
      <% else %>
      <div class="log-in">
        <%= link_to image_tag('log_in_link.png', width:100), google_login_path %>
      </div>
      <% end %>
    </nav>
      <% flash.each do |name, msg| %>
        <div class="flash-messages">
          <div class= "<%=name%>-flash">
            <p1><%= msg %></p1>
          </div>
        </div>
      <% end %>
      <%= yield %>
  </body>
</html>
