<!DOCTYPE html>
<html>
  <head>
    <title>PlentyOfFlicksFe</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class = "topnav">

    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p1><%= msg %></p1>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
